---
import SectionLayout from "../../layouts/SectionLayout.astro";
---

<SectionLayout id="about" extraStyles="">
  <h2 class="mb-16">About me</h2>

  <!-- <video src="https://videos.pexels.com/video-files/1481903/1481903-hd_1920_1080_25fps.mp4" controls
  class="rounded-xl aspect-video" ></video> -->
  
  <div class="lg:grid lg:grid-cols-2 gap-16 flex flex-col">
    <div>
      <h3 class="mb-4">Profile</h3>

      <p class="mb-4">I am a multidisciplinary web developer, interested in UI design.</p>

      <p>What sets me apart is my creative capacity and potential to find innovative solutions that help my team achieve our objectives.</p>
    </div>

    <div>
      <h3 class="mb-4">Experience</h3>
      <p class="mb-3">I have 6 months of experience in the tech area. My main function was to resolve errors in databases, using:</p>
      <p>JavaScript, MongoDB, SQL, PL/SQL, JSON, API SOAP, API Rest & Excel</p>
    </div>
  </div>
</SectionLayout>