---
import SectionLayout from "../../layouts/SectionLayout.astro"
---

<SectionLayout id="contact" extraStyles="bg-accent">
  <h2 class="mb-16">Contact</h2>

  <div class="flex flex-col justify-between">
    <a href="mailto:arangobrmst@gmail.com"
      class="font-title font-normal text-main hover:text-main/80 transition-colors border-b border-main/80 pb-8"
    ><h3>arangobrmst@gmail.com</h3></a>

    <a href="tel:+573044748665"
      class="font-title font-normal text-main hover:text-main/80 transition-colors pt-8"
    ><h3>+57 304 474 8665</h3></a>
  </div>
</SectionLayout>