@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #fff;
  --secondary-color: #1D252D;
  --accent-color: rgb(127,18,255);
  --color-contrast: #2a313a;
}

@font-face {
  font-family: 'Open Sans' sans-serif;
  src: url('/open-sans.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  overflow-y: scroll;
  box-sizing: border-box;
  color: var(--accent-color);
  font-size: 18px;
}

@layer components {
  .scroll-bg > nav {
    @apply ring-1 backdrop-blur dark:ring-white/30  dark:bg-[#1D252D]/30 ring-[#1D252D]/30 bg-[#FFFFFF]/30;
  }

  .show-menu {
    @apply flex flex-col;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-color: #1D252D;
    --secondary-color: #fff;
  }
}