---

import "../styles/heroPattern.css";
import "../styles/patterns.css"

import Layout from "../layouts/Layout.astro";
import Hero from "../components/portfolio/Hero.astro"
import ProjectsSection from "../components/portfolio/ProjectsSection.astro";
import ExperienceSection from "../components/portfolio/ExperienceSection.astro";
import Contact from "../components/portfolio/Contact.astro";
import About from "../components/portfolio/About.astro";
---

<Layout title="Brayan Arango | Portfolio">
  <main>
    <Hero />

    <ProjectsSection />

    <ExperienceSection />

    <About />

    <Contact />
  </main>
</Layout>