---
import { Image } from "astro:assets";

import myImage from "../../public/me.webp";

import Layout from "../layouts/Layout.astro";
import Header from "../components/UI/Header.astro";
import Button from "../components/UI/Button.astro";
import Experience from "../components/portfolio/Experience.astro";
import Project from "../components/portfolio/Project.astro";
import Footer from "../components/UI/Footer.astro";

type Urltype = "#" | "/";

interface Url {
  type: Urltype;
  content: string;
}

const links: Url[] = [
  { type: "#", content: "start" },
  { type: "#", content: "experience" },
  { type: "#", content: "projects" },
  { type: "#", content: "contact" },
];
---

<Layout title="Brayan Arango | Portfolio">
  <Header links={links} />

  <hero
    id="start"
    class="flex flex-col w-fill lg:mx-auto mx-6 my-8 mt-20 rounded-2xl lg:max-w-[55rem]"
  >
    <Image
      loading="eager"
      src={myImage}
      alt="Brayan Arango"
      class="aspect-square w-[6rem]"
    />

    <h1 class="text-5xl my-8">
      Hi <span class="text-[--accent-color]">Brayan Arango</span> here!
    </h1>

    <p class="max-w-[35rem] text-pretty text-xl mb-2">
      Web developer from Colombia with over 1 year of experience in JavaScript programming and graphic design.<br />
      I leverage my skills to develop useful applications for users, meeting their expected requirements.
    </p>

    <div class="flex gap-3 items-center mt-8">
      <Button
        url="https://drive.google.com/file/d/1oSqrEjhfXVurGEgMuzRj7yB5i5sQpcqt/view?usp=sharing"
        label="Check out my CV"
        target="_blank"
        level="main"
      />
      <Button
        url="https://www.linkedin.com/in/brayan-arango/"
        label="LinkedIn"
        target="_blank"
        level="secondary"
      />
    </div>
  </hero>

  <main class="lg:max-w-[55rem] lg:mx-auto mx-6 mt-20">
    <section id="experience">
      <h2 class="text-3xl mb-8">Experience</h2>

      <Experience
        image="accenture"
        company="Accenture"
        position="Support Developer"
        description="In this work, I supported my team by solving issues in the databases of a telecommunications company."
      />

      <Experience
        image="disarte"
        company="Disarte"
        position="Graphic designer"
        description="I created advertising pieces and designed brand identities for local companies."
      />
    </section>

    <section id="projects" class="mt-20">
      <h2 class="text-3xl mb-8">Projects</h2>

      <Project
        img={{
          url: "/chessfy.webp",
          alt: "Chessfy - create chess training planes",
        }}
        title="Chessfy"
        inputStack={["HTML", "CSS", "JS"]}
        description="An application to create chess training plans. You simply respond to some questions, and the app generates training microcycles."
        preview={{
          url: "https://chessfy.netlify.app/",
          label: "Visit Chessfy website",
        }}
      />

      <Project
        img={{
          url: "/iris.webp",
          alt: "Iris - color palettes generator",
        }}
        title="Iris"
        inputStack={["React", "CSS"]}
        description="Create color palettes and find the most beautiful color schemes for your project. This project is still in development."
        preview={{
          url: "https://iris-brakito.vercel.app/",
          label: "Visit Iris website",
        }}
      />

      <p class="text-pretty">To view more projects and some crazy experiments, go to my <a class="underline decoration-wavy" target="_blank" href="https://github.com/brakito">GitHub</a> profile.</p>
    </section>

    <section id="contact" class="mt-20">
      <h2 class="text-3xl mb-8">Contact</h2>
      <div class="flex md:flex-row flex-col justify-between md:items-center gap-8">

        <p class="max-w-[30rem] text-xl grow">If you are interested in my profile, send an email or contact me on <a class="underline decoration-wavy" target="_blank" href="https://www.linkedin.com/in/brayan-arango/">LinkedIn</a>.</p>

        <article id="containerCopy" class="p-6 ring-1 ring-[--color-contrast] rounded-xl flex items-center lg:justify-between justify-center flex-wrap gap-8 transition-all min-w-[50%] grow">
          <span id="textCopy">arangobrmst@gmail</span>
          <button
            id="buttonCopy"
            class="text-[--secondary-color] flex items-center gap-3 px-6 py-2 rounded-xl ring-1 ring-[--accent-color] ring-inset bg-[--main-color] lg:hover:drop-shadow-glow hover:bg-[--color-contrast] transition-all w-fit">
            Copy email
            </button>
        </article>

      </div>
    </section>
  </main>
  <Footer />
</Layout>

<script>
  let text = document.getElementById("textCopy");
  let container = document.getElementById("containerCopy");
  let button = document.getElementById("buttonCopy");
  button!.addEventListener("click", () => {
    navigator.clipboard.writeText("arangobrmst@gmail")
      .then(() => {
        setTimeout(() => {
          text!.innerHTML = "arangobrmst@gmail";
          container!.style.background = "transparent";
        }, 1000);
        text!.innerHTML = "successfully copied!";
        container!.style.background = "var(--accent-color)";
      })
      .catch((err) => {
        console.error("Error al copiar al portapapeles:", err);
      });
  });
</script>