<button id="burgerMenu" class="lg:hidden flex flex-col gap-[.45rem] p-2 ring-1 dark:ring-white/30 ring-[#1D252D]/30 rounded-md justify-center items-center w-fit backdrop-blur dark:bg-[#1D252D]/30 bg-[#FFFFFF]/30 right-0 top-0 absolute">
  <span class="w-7 h-1 bg-[--secondary-color]"></span>
  <span class="w-7 h-1 bg-[--secondary-color]"></span>
  <span class="w-7 h-1 bg-[--secondary-color]"></span>
</button>

<script>
  const menu = document.getElementById('navigation');
  const button = document.getElementById('burgerMenu');
  button!.addEventListener("click", () => {
    menu!.classList.toggle("hidden");
  });
</script>