---
import LinkedIn from "../icons/LinkedIn.astro";

type importancy = "main" | "second" | "low";

interface Props {
  url: string,
  label: string,
  target: string,
  level: importancy
}

const {url, label, target, level} = Astro.props;

let styles: string = "flex items-center gap-2 px-4 py-2 w-fit ";
if (level === "main") {
  styles += "text-main bg-accent transition-colors w-fit lg:hover:bg-accentHover";
} else if (level === "second") {
  styles += "text-main lg:hover:text-main/80 transition-colors capitalize ring-1 ring-main/90 ring-inset";
} else if (level === "low") {
  styles += "text-main lg:hover:text-main/80 transition-colors capitalize w-fit";
}
---

<a
  class={styles}
  href={url}
  target={target}
>{label}</a>
