<footer class="py-4 gridPattern">
  <div class="flex lg:flex-row lg:gap-0 gap-8 flex-col text-main justify-between lg:max-w-[60rem] lg:mx-auto py-5 mx-4">
    <span class="font-text">2024 Brayan Arango</span>

    <div class="flex flex-col gap-4 flex-wrap">
      <a class="text-main lg:hover:text-main/80 transition-colors capitalize" href="/">Portfolio</a>
      <!-- <a class="text-main lg:hover:text-main/80 transition-colors capitalize" href="/links">Links page</a> -->
    </div>

    <div class="flex flex-col gap-4 flex-wrap text-main/90">
      <a class="text-main lg:hover:text-main/80 transition-colors capitalize" href="https://www.linkedin.com/in/brayan-arango/" target="_blank">LinkedIn</a>
      <a class="text-main lg:hover:text-main/80 transition-colors capitalize" href="https://github.com/brakito" target="_blank">GitHub</a>
      <a class="text-main lg:hover:text-main/80 transition-colors capitalize" href="https://www.behance.net/enchantedpixel" target="_blank">Behance</a>
      <a class="text-main lg:hover:text-main/80 transition-colors capitalize" href="https://www.instagram.com/brakito/" target="_blank">Instagram</a>
    </div>
  </div>
</footer>