<footer class="flex lg:flex-row lg:gap-0 gap-3 flex-col items-center text-[--secondary-color] justify-between max-w-[55rem] lg:mx-auto border-t border-[--accent-color] py-5 mx-4 mt-20">
  <p>Brayan Arango Montoya (Arkane Dev)</p>
  <div class="flex gap-4">
    <a href="https://github.com/brakito" target="_blank" class="underline decoration-wavy">GitHub</a>
    <a href="https://www.behance.net/arkane-dev" target="_blank" class="underline decoration-wavy">Behance</a>
    <a href="https://www.instagram.com/arkanedev/" target="_blank" class="underline decoration-wavy">Instagram</a>
    <a href="https://www.linkedin.com/in/brayan-arango/" target="_blank" class="underline decoration-wavy">LinkedIn</a>
  </div>
</footer>