---
import Burger from "./Burger.astro";

import { Image } from "astro:assets";

import myImage from "/public/Me.webp";
import Button from "./Button.astro";

type Urltype = "#" | "/";

interface Url {
  type: Urltype;
  content: string;
  callToAction?: boolean;
}

const links: Url[] = [
  { type: "#", content: "projects" },
  { type: "#", content: "experience" },
  { type: "#", content: "about" },
  { type: "#", content: "contact", callToAction: true },
];

// const { links } = Astro.props;
---

<header
  id="header"
  class="lg:fixed fixed right-0 left-0 top-0 z-20 flex flex-col lg:flex-row lg:transition-all lg:items-center lg:justify-between border-b border-transparent bg-second/0 py-4">
  <div class="lg:w-[60rem] max-w-full lg:mx-auto lg:my-0 mx-4 my-4 flex flex-row lg:items-center justify-between relative">
    <a class="relative top-0 left-0" href="/">
      <Image
        loading="eager"
        src={myImage}
        alt="Brayan Arango"
        class="aspect-square w-[3rem] h-[3rem] rounded-full"
      />
    </a>

    <Burger />

    <nav id="navigation" class="lg:static relative mt-4 lg:mt-0 flex flex-col lg:flex-row lg:justify-between lg:items-center w-fit gap-7 px-0 py-4 rounded-xl items-end top-8 lg:mb-0 mb-4">
      {
        links.map((link: Url) => {
          return (
            ! link.callToAction
            ? <a
              class="menu-item text-main lg:hover:text-main/80 transition-col capitalize"
              href={`${link.type}${link.content}`}>
              {link.content}
            </a>
            :<Button url="#contact" label="Contact me" target="" level="main" classlist="menu-item"/> 
          );
        })
      }
    </nav>
  </div>
</header>

<script>
  const header = document.getElementById('header');
  const menu = document.getElementById('navigation');
  const menuItems = document.getElementsByClassName('menu-item');
  let width = window.innerWidth;

  const menuHandler = () => {
    if(width >= 1024 && window.scrollY === 0){
      header?.classList.remove("scroll-bg");
    } else {
      header?.classList.add("scroll-bg");
    }
  }

  window.addEventListener('scroll', menuHandler);
  menuHandler();

  window.addEventListener("resize", () => {
    width = window.innerWidth;
    menuHandler();

    if (width >= 1024) {
      menu!.classList.remove("hidden");
    } else {
      menu!.classList.add("hidden");
    }
  });

  if ( width < 1024) {
    menu!.classList.add("hidden");
    for (let i = 0; i < menuItems.length; i++) {
      menuItems[i].addEventListener("click", () => {
        menu!.classList.add("hidden");
      });
    }
  }
</script>
